IcerCCHelper/Server/ServerList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ServerList" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Server" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="URL" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:integer" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
